<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="com.qa.ExtentReportListener.ExtentReportNG"/>
</listeners>

  <test thread-count="5" name="Firefoxtest">
  <parameter name="browser" value="chrome"></parameter>
  <classes>
  <!-- <class name="com.nc.qa.testcases.Journalstest"/> -->
    <class name="com.nc.qa.testcases.SignIntest"/>
  </classes>
  </test>
  <test thread-count="5" name="chrometest">
  <parameter name="browser" value="chrome"></parameter>
  <classes>
   <class name="com.nc.qa.testcases.Journalstest"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
